.food{
    background-color: lightcoral;

}
.banh-img{
    height:200px;
    width: 200px;
   
}
.img-container{
display: flex;
justify-content: space-around;
}
.tradition{
    background-color: lightgreen;
}
.activity {
    background-color: lightskyblue;
}
.origin{
    background-color: lightsalmon;
}
.travel{
    background-color: lightseagreen;
}
*{
    font-family: 'Poppins', sans-serif;

}
p {
    font-family: 'Roboto', sans-serif;
}